.upvotedownvote-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60px;
	background: #4ab3e4;
	border-radius: 2px;
	padding: 0.2rem;
}

.upvotedownvote-block .count {
	color: white;
	font-size: 2rem;
}

.upvotedownvote-block .mini {
	color: white;
	font-size: 0.5rem;
	line-height: 0.7rem;
}

.upvotedownvote-block .thumb {
	font-size: 1.3rem;
	color: white;
	cursor: pointer;
}

.upvotedownvote-block .success {
	color: #BB0000;
}